body{
    /* CSS reset */
    margin: 0px;
    padding: 0px;
    background: url('../Photos/gym.jpg');
    height: 1500px;
    font-family: 'Playfair Display', serif;
}
.left{
    position: absolute;
    /* border: 2px solid red; */
    left: 53px;
    top: 5px;
    width: 100px;
}
.left img{
    width: 65%;
    border-radius: 100px;
    margin: 3px 0px;
}
.mid{
    /* border: 2px solid red; */
    width: 42%;
    margin:7px auto;
}
.right{
    position: absolute;
    right: 35px;
    top:15px;
    /* border: 2px solid red; */
    display: inline-block;
}
.navbar{
    display: inline-block;
}
.navbar li{
    display: inline-block;
    font-size: 20px;
}
.navbar li a{
    color: white;
    text-decoration: none;
    padding: 21px;
}
.navbar li a:hover,.navbar li a.active{
    text-decoration: underline;
    color: rgb(219, 188, 12);
}
.btn{
    border: 2px solid white;
    margin: 6px 10px;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 12px;
    font-size: 15px;
    cursor: pointer;
    font-family: 'Playfair Display', serif;
}
.btn:hover{
    background-color: rgb(206, 179, 24);
    color: black;
    border: 2px solid black;
}
.container{
    color: white;
    /* border: 2px solid red; */
    margin: 101px 71px;
    padding: 57px 32px;
    width: 33%;
    border-radius: 33px;
}
.form-group input{
    font-size: 18px;
    text-align: center;
    display: block;
    width: 272px;
    padding: 2px 2px;
    border: 2px solid grey; 
    margin: 10px auto;
    border-radius: 33px;
    font-family: 'Playfair Display', serif;
}
.container h1{
    text-align: center;
}
.container button{
    display: block;
    margin:22px auto;
    width: 164px;
}